# Google Cloud & Gemini Enterprise Agent Platform (GEAP) Configuration
export GOOGLE_GENAI_USE_VERTEXAI="true"
export GOOGLE_CLOUD_PROJECT_ID="your-google-cloud-project-id"
export GOOGLE_CLOUD_LOCATION="us-central1"
export GOOGLE_GENAI_LOCATION="global"

# Prevent google.auth.exceptions.MutualTLSChannelError by disabling mTLS auto-discovery:
export GOOGLE_API_USE_CLIENT_CERTIFICATE="false"
export GOOGLE_API_USE_MTLS_ENDPOINT="never"
