# GitHub Configuration
GITHUB_ORG="your-github-org-or-username"
GITHUB_REPO="luncher"

# Google Cloud Configuration
GCP_SA_GITHUB_ACTIONS="sa-github-actions"
GCP_PROJECT_ID="your-gcp-project-id"
GCP_LOCATION="us-central1"

# Extracted during setup
GCP_WI_PROVIDER_ID="projects/1234567890/locations/global/workloadIdentityPools/github/providers/your-provider-id"

# Google GenAI SDK & ADK Configuration to route via Vertex AI and use ADC
GOOGLE_GENAI_USE_VERTEXAI="true"
GOOGLE_CLOUD_PROJECT="your-gcp-project-id"
GOOGLE_CLOUD_LOCATION="us-central1"

